html, body{
    font-family: var(--font-poppins);
}

.btn-primary {
    background-color: var(--color-button); // Color de fondo personalizado
    border-color: var(--color-button); // Color del borde personalizado
    color: #ffffff; // Color de texto personalizado
}

.btn-primary:hover {
    background-color: #ce9168; // Color de fondo personalizado
    border-color: #ce9168; // Color del borde personalizado
    color: #ffffff; // Color de texto personalizado
}
